<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TOP</title>
<link type= "text/css" rel='stylesheet' href='/common.css'/>
</head>
 
<body>
    <div id="globalMenu">
        <ul>
            <li><a href="/">新規作成</a></li>
            <li><a href="/savedmemo">メモ一覧</a></li>
        </ul>
    </div>
    <form action="/" method="post">
        <input type="text" name="memo">
        <input type="submit" value="保存">
    </form>
    <%# 入力不備の表示 %>
    <p><%= msg %></p>
    <p>「<%= posts%>」が保存されました</p>
      
    <%# 入力内容表示 %>
    <ul>
    <% for (var i = 0; i < savedMemo.length; i++) { %>
        <li><%= savedMemo[i] %></li>
    <% } %>
    </ul>
</body>
</html>